{% extends 'base.html.twig' %}

{% block title %}Coedi Sothys - Mon compte{% endblock %}

{% block body %}

    <div id="content" role="main">
        <section class="section section--compte">
            <div class="container">
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up">
                        {% include 'flash_messages.html.twig' %}
                        <div class="title--border title--border--margin">
                            <h2>Mon compte</h2>
                        </div>
                    </div>
                    {% include 'components/nav_customer.html.twig' %}
                    <div class="col-8 col-md-8">
                        {{ form_start(form) }}
                        <fieldset>
                            <p class="form__item">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" value="{{ user.email }}" disabled="">
                            </p>
                            <p class="form__item">
                                <label for="id_society">Identifiant compte client</label>
                                <input type="text" id="id_society" name="text" value="{{ user.societyID.idCustomer }}  {{ user.societyID.name|upper }} " disabled="">
                            </p>
                            <p class="form__item">
                                <label for="password">Mot de passe</label>
                                {{ form_row(form.password.first, {'label' : false,  'attr' : {'placeholder' : 'Mot de passe',  'class' : 'form-control' ,'name' : 'password' }}) }}
                            </p>
                            <p class="form__item">
                                <label for="password_confirm">Confirmer le mot de passe</label>
                                {{ form_row(form.password.second, {'label' : false,  'attr' : {'placeholder' : 'Mot de passe',  'class' : 'form-control' , 'name' : 'password_confirm' }}) }}
                            </p>
                            <p>
                                        <span class="button button--secondary-fill button--submit">
                                            <input type="submit" value="Sauvegarder">
                                        </span>
                            </p>
                        </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
