{% extends 'base.html.twig' %}

{% block title %}Coedi Sothys - Connexion{% endblock %}

{% block body %}


    <section class="section section--checkout section--checkout-connexion">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="title--border ">
                                <h2>Mon compte</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form--login-register-wrapper">
                                <form action="" method="POST" class="form form--login-register" data-captcha-form="">
                                    <input name="captcha-token" type="hidden">
                                    {% if error %}
                                        <div
                                            class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a
                                                href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}
                                    <fieldset>
                                        <p class="form__item" data-children-count="1">
                                            <label for="inputEmail">Email<sup data-children-count="0">*</sup></label>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                                   class="form-control" required autofocus>
                                        </p>
                                        <p class="form__item" data-children-count="1">
                                            <label for="inputPassword">Mot de passe<sup
                                                    data-children-count="0">*</sup></label>
                                            <input type="password" name="password" id="inputPassword"
                                                   class="form-control" required>
                                        </p>
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">
                                        <div class="form__footer">
                                            <p class="form__item form__item--checkbox" data-children-count="1">
                                                <input type="checkbox" id="rememberMe" name="rememberMe">
                                                <label for="rememberMe">Rester connecté(e)</label>
                                            </p>
                                            <p class="form__item">
                                                <a class="fs--1"
                                                   href="{{ path('app_forgot_password_request') }}">Mot de passe oublié
                                                </a>
                                            </p>
                                        </div>
                                        <div class="form__item flex flex--center">
                <span class="button button--primary-fill button--submit" style="margin: 0 auto;">
                    <input type="submit" value="Se connecter">
                </span>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
