{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}




    <style type="text/css">
        body {
            margin: 0;
            padding: 2rem;
        }

        table {
            text-align: left;
            position: relative;
            border-collapse: collapse;
        }
        th, td {
            padding: 0.25rem;
        }
        tr.red th {
            background: red;
            color: white;
        }
        tr.green th {
            background: green;
            color: white;
        }
        tr.purple th {
            background: purple;
            color: white;
        }
        th {
            background: white;
            position: sticky;
            top: 0; /* Don't forget this, required for the stickiness */
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        }
    </style>
    <table class="tg">
        <thead>
        <tr class="red">
            <th>Order</th>
            <th>OrderX3</th>
            <th>SocietyID</th>
            <th>Login</th>
            <th>DateOrder</th>
            <th>DateDelivery</th>
            <th>Adress</th>
            <th>Statut</th>
            <th>DownStatut</th>
            <th>Reference</th>
            <th>Transport</th>
            <th>setIdIntercom</th>
            <th>setIdCondition</th>
            <th>DateLastDelivery</th>
        </tr>
        </thead>
        {% for order in orders %}
            <tbody>
            <tr>

                <td>{{ order.idOrder }}</td>
                <td>{{ order.idOrderX3 }}</td>
                <th>N/A</th>
                <th>N/A</th>
                <td>{{ order.dateOrder|date }}</td>
                <td>{{ order.dateDelivery|date }}</td>
                <th>N/A</th>
                <td>{{ order.idStatut }}</td>
                <td>{{ order.idDownStatut }}</td>
                <td>{{ order.reference }}</td>
                <th>N/A</th>
                <th>N/A</th>
                <th>N/A</th>
                <td>{{ order.dateLastDelivery|date }}</td>
            </tr>
            </tbody>
        {% endfor %}

    </table>






{% endblock %}
