{% extends 'base.html.twig' %}
{% block title %}{{'Home' | trans}}{% endblock %}
{% block body %}

    <div class="container">
        <h2> {{'customer.area' | trans}}</h2>
        <h3>{{'Welcome.at.costomer.area' | trans}} </h3>
        <h4>{{'your.space.take.advantage' | trans}}</h4>
        <ul>
            <li> {{'Ckeck.your.pricing' | trans}}</li>
            <li> {{'order.online' | trans}}</li>
            <li> {{'Track.their.progress' | trans}}</li>
            <li> {{'Ckeck.current.promotional.offers' | trans}}</li>
        </ul>
    </div>

{% endblock %}
