{% extends 'base.html.twig' %}

{% block title %}
    {{ gamme.getLabel(app.request.locale) }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 style="text-align: center">{{ gamme.getLabel(app.request.locale) }}</h1>
                </div>
                {% for product in products %}
                    <div class="col-6 col-md-6 col-lg-4 productBox aos-init aos-animate" data-aos="fade-up">
                        <a href="{{ path('app_item_id', {id: product.id}) }} " class="card card--product card--overlay ">
                            <div class="card__visuel">
                                <picture>
                                    <img class="blur-up ls-is-cached lazyloaded" alt="" src="https://place-hold.it/450">
                                </picture>
                                <picture class="card__visuel--overlay">
                                    <img class="blur-up ls-is-cached lazyloaded" alt="" src="https://place-hold.it/450">
                                </picture>
                            </div>
                            <div class="card__content__wrapper">
                                <div class="card__content">
                                    <span class="card__title">{{ product.getLabel(app.request.locale) }}</span>
                                    <span class="complement">
                                        {{ product.getCapacity(app.request.locale) }}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
