{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row min-vh-100 bg-100">
                <div class="col-6 d-none d-lg-block position-relative">
                    <div class="bg-holder"
                         style="background-image:url({{ asset('assets/images/bg-home.jpg') }});background-position: 50% 20%;">
                    </div>

                </div>
                <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
                    <div class="row justify-content-center g-0">
                        <div class="col-lg-9 col-xl-8 col-xxl-6">
                            <div class="card">
                                <div class="card-header text-center p-2"><img
                                            src="{{ asset('assets/images/logo_register.png') }}"/></div>
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h4 class="mb-0"> Réinitialisation mot de passe?</h4><small>Entrez votre e-mail
                                            et nous vous enverrons un lien de réinitialisation.</small>
                                        {{ form_start(requestForm) }}
                                        <form class="mb-3 mt-4">
                                            {{ form_row(requestForm.email, {'label' : false,  'attr' : {'placeholder' : 'Email',  'class' : 'form-control'  }}) }}
                                            <div class="mb-3">
                                                <button class="btn btn-primary btn-block mt-3" type="submit"
                                                        name="submit">Envoyer le lien de réinitialisation
                                                </button>
                                            </div>
                                        </form>
                                        <a class="fs--1 text-600" href="{{ path('app_login') }}">Je ne veux pas
                                            récupérer mon compte<span class="d-inline-block ml-1">&rarr;</span></a>
                                        {{ form_end(requestForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
