{% extends 'base.html.twig' %}
{% block title %}Mon panier {% endblock %}
{% block body %}

    <section class="section section--checkout">
        <div class="container">
            {% include 'flash_messages.html.twig' %}
            <form action="#" class="">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="cart--checkout-table">
                            <table class="cart--table  table-responsive">
                                <thead>
                                <tr>
                                    <th>{{'Product' | trans}}</th>
                                    <th>{{'Designation' | trans}}</th>
                                    <th>{{'quantity' | trans}}</th>
                                    <th>{{'Quantity.counts' | trans}}</th>
                                    <th>{{'price.unit' | trans}}</th>
                                    <th>{{'price.total' | trans}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                 {% set totalCabine = 0 %}
                                 {% set total = 0 %}
                                 {% for order in orders %}

                                 {% set total = total + (order.price *  order.quantity ) %}
                                 {% if  order.idItem.idPresentation == "Cabine" %}
                                 {% set totalCabine = totalCabine + (order.price) %}
                                 {% endif %}

                                <tr class="product-291">
                                    <td class="product-name">
                                         <a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.itemId }}</a>
                                    </td>
                                    <td class="product-designation ">
                                        <span class="text--category">
 <a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.labelFR }}</a>
                                        </span>
                                    </td>
                                    <td class="product-quantity">
                                         <span class="text--category show--mobile">  <a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.labelFR }}</a></span>
                                        <div class="quantity">
                                            <label for="product-quantity--291">Quantité</label>
                                             <input type="number" class="qty input-text js-update-cart-quantity" step="1" min="1" data-product="{{ order.idItem.id }}" value="{{ order.quantity }}" style="text-align: center;">
                                            <div class="quantity-nav">
                                                <div class="quantity-button quantity-up">+</div>
                                                <div class="quantity-button quantity-down">-</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-quantityGroupage">
                                         <span class="text--category" id="qty_update_{{ order.idItem.id }}">{{ order.quantity }} x {{ order.quantityBundling }} </span>
                                    </td>
                                    <td class="product-priceUnit">
                                         <span class="text--category">  {{ order.price }} €</span>
                                    </td>
                                    <td class="product-priceTotal">
                                         <span class="text--category" id="price_update_{{ order.idItem.id }}">{{ order.price *  order.quantity|round }} € </span>
                                    </td>
                                    <td>
                                         <a href="{{ path('app_order_product_delete', { 'id': order.id }) }}"><i class="icon icon-close"></i></a>
                                    </td>
                                </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="cart--checkout-total">
                            <div class="cart--totals cart--totals-default">
                                <h3>{{'Cart' | trans}}</h3>
                                <table class="table-responsive cart--table-totals">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                         <th>{{'Subtotal' | trans}}</th>
                                         <td>
                                         </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>
                                            Total
                                        </th>
                                        <td>
                                             <span class="price total" id="priceTotal">{{ total }} €</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="checkout-wrapper">
                                    <a href="{{ path("app_order_publish" , { 'promo': '0'}) }}" class=" checkout button button--primary-fill">
                                        {{'Validate.order' | trans}}
                                    </a>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                <div class="row">
                    <div class="col-12 col-md-8"></div>
                    <div class="col-12 col-md-4">
                        {{ form_start(form) }}
                            <div class="Upload-csv-container">
                                <div class="Error">
                                    {{ form_errors(form.update_csv_order) }}
                                </div>
                                {{ form_widget(form.update_csv_order, {'attr': {'class': 'upload-box'}}) }}

                                {{ form_row(form.upload, { 'label' :  'upload.orders' ,'attr': {'class': 'inline-block-upload button button--primary-fill'}}) }}
                            </div>
                        {{ form_end(form) }}
                        {# Error handling messages  #}
                        {% if invalidExtention %}
                            <p class="Error"> {{invalidExtention}} </p>
                        {% endif %}
                        {% if ErrorFile %}
                            <p class="Error"> {{ErrorFile}} </p>
                        {% endif %}
                        {% if IdError %}
                            <p class="Error"> {{IdError}} </p>
                        {% endif %}
                    </div>
                </div>
        </div>
    </section>
{% endblock %}
