{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande {% endblock %}

{% block body %}

    <section class="section section--checkout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="cart--checkout-table">
                        <form action="#" class="">
                            <table class="cart--table  table-responsive">
                                <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Désignation</th>
                                    <th>Quantité</th>
                                    <th>Quantité Groupage</th>
                                    <th>Prix unitaire (EUR)</th>
                                    <th>Prix total (EUR)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}

                                    {% set totalCabine = 0 %}
                                    {% set total = 0 %}

                                    {% set total = total + (order.price *  order.quantity ) %}
                                    {% if  order.idItem.idPresentation == "Cabine" %}
                                        {% set totalCabine = totalCabine + (order.price) %}
                                    {% endif %}

                                    <tr class="product-291">
                                        <td class="product-name">
                                            <a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.itemId }}</a>
                                        </td>
                                        <td class="product-designation ">
                                        <span class="text--category">
                                            <a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.labelFR }}</a>
                                        </span>
                                        </td>
                                        <td class="product-quantity">
                                            <span class="text--category show--mobile">  <a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.labelFR }}</a></span>
                                            <div class="quantity">
                                                <label for="product-quantity--291">Quantité</label>

                                                <input type="number" class="qty input-text js-update-cart-quantity" step="1" min="1" data-product="{{ order.idItem.id }}" value="{{ order.quantity }}" style="text-align: center;">
                                                <div class="quantity-nav">
                                                    <div class="quantity-button quantity-up">+</div>
                                                    <div class="quantity-button quantity-down">-</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="product-quantityGroupage">
                                            <span class="text--category" id="qty_update_{{ order.idItem.id }}">{{ order.quantity }} x {{ order.quantityBundling }} </span>
                                        </td>
                                        <td class="product-priceUnit">
                                            <span class="text--category">  {{ order.price }} €</span>
                                        </td>
                                        <td class="product-priceTotal">
                                            <span class="text--category" id="price_update_{{ order.idItem.id }}">{{ order.price *  order.quantity }} € </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="cart--checkout-total">
                        <div class="cart--totals cart--totals-default">
                            <h3>Récapitulatif panier</h3>
                            <table class="table-responsive cart--table-totals">
                                <tbody>
                                <tr class="cart-subtotal">
                                    <th>Sous-total</th>
                                    <td>
                                        <span class="price">40,50 €</span>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>
                                        Total
                                    </th>
                                    <td>
                                        TOTAL €
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="checkout-wrapper">
                                <a href="{{ path("app_order_publish") }}" class=" checkout button button--primary-fill">
                                    Valider ma commande </a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# <div id="content" role="main"> #}
    {# <section class="section section--compte"> #}
    {# <div class="container"> #}
    {# <div class="row"> #}
    {# <div class="col-12 aos-init aos-animate" data-aos="fade-up"> #}
    {# {% include 'flash_messages.html.twig' %} #}
    {# <div class="title--border title--border--margin"> #}
    {# <h2>Mes commandes</h2> #}
    {# </div> #}
    {# </div> #}
    {# <div class="col-12"> #}
    {# <table class="compte__commandes table-responsive" id="table"> #}
    {# <thead> #}
    {# <tr> #}
    {# <th>Code</th> #}
    {# <th>Désignation</th> #}
    {# <th>Quantité groupage</th> #}
    {# <th>Quantité commandée</th> #}
    {# <th>Prix unitaire (EUR)</th> #}
    {# <th>Prix total (EUR)</th> #}
    {# </tr> #}
    {# </thead> #}
    {# <tbody> #}
    {# <tr> #}
    {# <td>CODE</td> #}
    {# <td>Désignation</td> #}
    {# <td>Quantité commandée</td> #}
    {# <td>Quantité groupage</td> #}
    {# <td>Prix unitaire (EUR)</td> #}
    {# <td>Prix total (EUR)</td> #}
    {# </tr> #}


    {# {% for order in orders %} #}

    {# {% set total = total + (order.price *  order.quantity ) %} #}
    {# {% if  order.idItem.idPresentation == "Cabine" %} #}
    {# {% set totalCabine = totalCabine + (order.price) %} #}
    {# {% endif %} #}

    {# <tr> #}
    {# {{ dump(order.idItem.id) }} #}
    {# <td><a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.itemId }}></a></td> #}
    {# <td class="{{ order.idItem.id }}"><a href="{{ path('app_item_id', { 'id': order.idItem.id }) }}">{{ order.idItem.labelFR }}</td> #}
    {# <td> #}
    {# <input type="number" class="qty" data-product="{{ order.idItem.id }}" value="{{ order.quantity }}" style="text-align: center;"> #}
    {# </td> #}
    {# <td id="qty_update_{{ order.idItem.id }}">{{ order.quantity }} x {{ order.quantityBundling }}</td> #}
    {# <td>{{ order.price }} €</td> #}
    {# <td id="price_update_{{ order.idItem.id }}">{{ order.price *  order.quantity }} €</td> #}
    {# </tr> #}
    {# {% endfor %} #}
    {# </tbody> #}

    {# <tbody> #}
    {# <tr id="addLigneTitre"> #}
    {# <td colspan="8" class="soustitre"></td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td colspan="5">Dont Vente/Cabine (EUR)</td> #}
    {# <td>{{ totalCabine }} €</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td class="totalTitre" colspan="5">Dont Autre (EUR)</td> #}
    {# <td class="total">0,00</td> #}
    {# </tr> #}
    {# <tr> #}
    {# <td class="totalTitre" colspan="5"><b> Total HT (EUR)</b></td> #}
    {# <td class="total"><b>{{ total }} €</b></td> #}
    {# </tr> #}
    {# </tbody> #}
    {# </table> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}


    {# </section> #}
    {# </div> #}

{% endblock %}
