{% extends 'base.html.twig' %}
{% block title %}Mon panier {% endblock %}
{% block body %}

    <section class="section section--checkout">
        <div class="container">
            {% include 'flash_messages.html.twig' %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col-12 col-md-12">
                    <p class="form__item">
                        <label for="reference">Référence</label>
                        {{ form_row(form.reference, {'label' : false,  'attr' : {'placeholder' : 'Référence',  'class' : 'form-control' ,'name' : 'reference' }}) }}
                    </p>
                    <p class="form__item">
                        <label for="incoterm">Incoterm</label>
                        {{ form_row(form.incoterm, {'label' : false,  'attr' : {'placeholder' : 'Référence',  'class' : 'form-control' ,'name' : 'incoterm' }}) }}
                    </p>

                    <p class="form__item">
                        <label for="">Email</label>
                        {{ form_row(form.email, {'label' : false,  'attr' : {'placeholder' : 'Email',  'class' : 'form-control' ,'name' : 'email',   'value' :  user.email  }}) }}
                    </p>
                </div>
            </div>
            <div class="checkout-wrapper">
                <button type="submit" class=" checkout button button--primary-fill">Enregistrer ma commande
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
