<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Sothys{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }} ">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }} ">
    {% endblock %}
</head>
<body>
<header>
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-3 col-lg-5 col-xl-4">
                </div>
                <div class="col-6 col-lg-2 col-xl-4">
                    {% if app.user != null %}
                        <a class="logo" href="{{ path('app_home') }}">
                            <img src="{{ asset('assets/images/logo-sothys.png') }}"
                                 srcset="{{ asset('assets/images/logo-sothys.png') }}"
                                 alt="Sothys">
                        </a>
                    {% else %}
                        <a class="logo" href="/">
                            <img src="{{ asset('assets/images/logo-sothys.png') }}"
                                 srcset="{{ asset('assets/images/logo-sothys.png') }}"
                                 alt="Sothys">
                        </a>
                    {% endif %}

                </div>
                <div class="col-3 col-lg-5 col-xl-4">
                    {% if app.user != null %}
                    <div class="navbar-tools">
                        <ul class="list--horizontal">
                            <li>
                                <a href="{{ path('app_shop') }}" aria-label="Accéder à mon panier"
                                   title="Accéder à mon panier" data-microtip-position="bottom" role="tooltip"
                                   class="cart__access js-cart-toggler">
                                    <i class="icon icon-panier">
                                        <span class="hidden">mon panier</span>
                                    </i>
                                    <span id="cartItem">{{ cartItem|default('0') }}</span>
                                </a>
                            </li>
                            <li class="account__access_button d-none d-lg-block">
                                <a href="{{ path('app_login') }}" aria-label="Accéder à l'espace mon compte"
                                   title="Accéder à l'espace mon compte">
                                    <i class="icon icon-compte">
                                        <span class="hidden">mon compte</span>
                                    </i>
                                </a>
                                <div class="account__access_wrapper">
                                    <div class="account__access_inner">
                                        <a href="{{ path('app_account') }}"
                                           class="button button--small button--dark" title="Mon compte">Mon compte</a>
                                        <a href="{{ path('app_logout') }}"
                                           class="button button--small button--dark" title="Mon compte">Déconnexion</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if app.user != null %}
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar--fixed js-navbar">
                            <div class="navbar__wrapper">
                                <div class="navbar__collapse">
                                    <div class="d-flex d-lg-none navbar__header">
                                        <button class="navbar__toggler js-navbar-toggler">
                                            <i class="icon icon-close">
                                                <span class="hidden">fermer</span>
                                            </i>
                                        </button>
                                        <ul class="lang">
                                            <li>
                                                <a href="#" title="Choix de la langue en Francais" class="active">FR</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Choix de la langue en Anglais">EN</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="navbar__menu navbar__menu--desktop">
                                        <li class="menu-item">
                                            <a href="{{ path('app_order') }}">
                                                {{ 'my.orders' | trans }}
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item--has-child">
                                            <a>Produits</a>
                                            <div class="menu-item__submenu">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <ul class="menu-item__submenu--large">
                                                                {% for gamme in categories.getGamme(app.user.societyID) %}
                                                                    <li class="menu-item__submenu-item">
                                                                        <a href="{{ path('app_gamme', {
                                                                            gamme_id: gamme.id
                                                                        }) }}" class="nav-link">
                                                                            {{ gamme.labelFR }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</header>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
