<div class="col-4 col-md-4">
    <ul class="compte__menu">
        <li>
            <a class="active" href="{{ path('app_shop') }}">
                {{ 'menu.do_order' | trans }}
            </a>
        </li>
        <li>
            <a class="active" href="{{ path('app_order') }}">
                {{ 'menu.order' | trans }}
            </a>
        </li>
        <li>
            <a class="active" href="{{ path('app_portfolio') }}">
                {{ 'menu.portfolio' | trans }}
            </a>
        </li>
        <li>
            <a class="active" href="{{ path('app_price') }}">
                {{ 'menu.price' | trans }}
            </a>
        </li>
    </ul>
</div>
