{% extends 'base.html.twig' %}
{% block title %}Coedi Sothys - Mes commandes{% endblock %}
{% block body %}

    <div id="content" role="main">
        <section class="section section--compte">
            <div class="container">
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up">
                        {% include 'flash_messages.html.twig' %}
                        <div class="title--border title--border--margin">
                            <h2>Mes commandes</h2>
                        </div>
                    </div>
                    {% include 'components/nav_customer.html.twig' %}
                    <div class="col-12 col-md-8">
                        <table class="compte__commandes table-responsive">
                            <thead>
                            <tr>
                                <th>Réf commande</th>
                                <th>Date</th>
                                <th>Prix total</th>
                                <th>État</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="ref">
                                        {% if order.idOrderX3 != null %}
                                            <a href="{{ path('app_order_item_id' , { 'id': order.idOrderX3 }) }}">#{{ order.idOrder }} </a>
                                        {% else %}
                                            <a href="{{ path('app_order_item_id_draft' , { 'id': order.id }) }}">#{{ order.id }} </a>
                                        {% endif %}
                                    </td>
                                    <td class="date">{{ order.dateOrder|date('d/m/Y') }}</td>
                                    <td class="price">{{ order.priceOrder }} €</td>
                                    <td class="status">
                                        {% if order.idStatut == 1 %}
                                            <span class="status status--pendind">Brouillon</span>
                                        {% elseif  order.idStatut == 2 %}
                                            <span class="status status--processing">En cours d'analyse</span>
                                        {% else %}
                                            <span class="status status--completed">Complète</span>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
