{% extends 'base.html.twig' %}
{% block title %}
    {{ 'order'| trans }}
{% endblock %}

{% block body %}
    <div id="content" role="main">
        <section class="section section--compte">
            <div class="container">
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up">
                        {% include 'flash_messages.html.twig' %}
                        <div class="title--border title--border--margin">
                            <h2> {{ 'my.orders' | trans }}</h2>
                        </div>
                    </div>
                    {% include 'components/nav_customer.html.twig' %}
                    <div class="col-4 col-md-4">
                        <p>
                            {{ 'reference' | trans }}: {{ orderX3.reference}}<br/>
                            {{ 'order_number' | trans }}: {{ orderX3.idOrder }}<br/>
                            Date commande : {{ orderX3.dateOrder|format_datetime('short', 'none' ) }} <br/>
                            N° de chrono : ??<br/>
                            Statut commande : ??<br/>
                            Etat de livraison : ??<br/>
                            {% if orderX3.transportMode %}
                                {{ 'transport_mode' | trans }}: {{ orderX3.transportMode.getName(app.request.locale) }}<br/>
                            {% endif %}
                            Incoterm : ??<br/>
                            Condition Paiement : ??<br/>
                            Type commande : ??<br/>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        SOTHYS EXPORT <br/>
                        <h3> Adresse Facturation</h3><br>
                        REGINA'S BEAUTY<br/>
                        Israël<br/>
                        {% if orderX3.address %}
                            <h3> {{ 'order.delivery_address' | trans }}</h3><br>
                            {{ 'transport_mode' | trans }}: {{ orderX3.address }}<br/>
                        {% endif %}
                    </div>
                </div>
                <table class="compte__commandes table-responsive">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>{{'Designation' | trans}}</th>
                        <th>{{'Quantity.ordered' | trans}}</th>
                        <th>{{'Quantity.shipped' | trans}}</th>
                        <th>{{'price.unit' | trans}}</th>
                        <th>{{'price.total' | trans}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totalCabine = 0 %}
                    {% for order in orders %}
                        <tr>
                            <td><a href="{{ path('app_item_id', { 'id': order.itemID.id }) }}">{{ order.itemID.id }}</a></td>
                            <td><a href="{{ path('app_item_id', { 'id': order.itemID.id }) }}">{{ order.itemID.labelFR }}</a></td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.priceUnit }}</td>
                            <td>{{ order.price }}</td>
                        </tr>

                        {% if order.itemID.idPresentation == "Cabine" %}
                            {% set totalCabine = totalCabine + (order.price) %}
                        {% endif %}

                    {% endfor %}
                    <tr>
                        <td colspan="5">Dont Vente/Cabine (EUR)</td>
                        <td>{{ totalCabine }} €</td>
                    </tr>
                    <tr>
                        <td colspan="5">Dont Autre (EUR)</td>
                        <td>{{ orderSum.price |round(1, 'floor') - totalCabine }} </td>
                    </tr>
                    <tr>
                        <td colspan="5">Total HT (EUR)</td>
                        <td>{{ orderSum.price |round(1, 'floor') }} €</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock %}
