{% extends 'base.html.twig' %}
{% block title %} {{ 'Order' | trans }}{% endblock %}
{% block body %}

    <div id="content" role="main">
        <section class="section section--compte">
            <div class="container">
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up">
                        {% include 'flash_messages.html.twig' %}
                    </div>

                    <div class="col-6">
                        {% include 'order/order_details.html.twig' %}
                    </div>
                    <div class="col-6">
                        {% if order.idStatut == 1 %}
                            <div class="checkout-wrapper">
                                <a href="{{ path('app_order_edit', { 'id': order.id }) }}" class=" checkout button button--primary-fill">
                                    {{ 'order.edit' | trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <table class="compte__commandes table-responsive">
                    <thead>
                    <tr>
                        <th>{{ 'reference' | trans}}</th>
                        <th>{{'Designation' | trans}}</th>
                        <th>{{'Quantity.ordered' | trans}}</th>
                        <th>{{'Quantity.shipped' | trans}}</th>
                        <th>{{'price.unit' | trans}}</th>
                        <th>{{'price.total' | trans}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totalCabine = 0 %}
                    {% set totalAutre = 0 %}
                    {% for order in ordersLine %}
                        {% if order.promo == true %}
                            <tr>
                                <td>{{ order.itemID.itemID }}</td>
                                <td>{{ order.itemID.labelFR }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.priceUnit }} €</td>
                                <td>{{ order.price }} €</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="{{ path('app_item_id', { 'id': order.itemID.id }) }}">{{ order.itemID.itemID }}</a></td>
                                <td><a href="{{ path('app_item_id', { 'id': order.itemID.id }) }}">{{ order.itemID.labelFR }}</a></td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.priceUnit }} €</td>
                                <td>{{ order.price }} €</td>
                            </tr>
                        {% endif %}
                        {% if  order.itemID.idPresentation == "Cabine" %}
                            {% set totalCabine = totalCabine + (order.price) %}
                        {% else %}
                            {% set totalAutre = totalAutre + (order.price) %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="5">Dont Vente/Cabine (EUR)</td>
                        <td colspan="1">{{ totalCabine }} €</td>
                    </tr>
                    <tr>
                        <td colspan="5">Dont Autre (EUR)</td>
                        <td colspan="1">{{ totalAutre }} €</td>
                    </tr>
                    <tr>
                        <td colspan="5">Total HT (EUR)</td>
                        <td colspan="1"><strong>{{ totalAutre  + totalCabine }} €</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock %}
