<p>
    {{ 'order.delivery_address' | trans }}<br/>
    {{ order.address.address1 }} {{ order.address.address2 }} {{ order.address.address3 }}<br/>
    <br/>
    {{ order.address.postalCode }} {{ order.address.city }} {{ order.address.state }}<br/>
</p>
