{% extends 'base.html.twig' %}
{% block title %}Produits : {% endblock %}
{% block body %}

    <div id="content" role="main">
        <section class="section section--product-information">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12 col-lg-7 col-fullsize--sm">
                        <div class="carousel carousel--pagination carousel--nav" data-perpage="1">
                            <div class="carousel__inner" style="overflow: hidden; direction: ltr;">
                                <div style="width: 3325px; transition: all 250ms ease-out 0s; transform: translate3d(0px, 0px, 0px);">
                                    <div style="float: left; width: 14.2857%;">
                                        <div class="carousel__item">
                                            <picture>
                                                <img src="https://place-hold.it/480" alt="image product">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-5">
                        <a href="{{ path('app_gamme', { gamme_id: gamme.id }) }}" class="nav-link"> {{ gamme.labelFR }}</a>
                        <h1>{{ product.labelFR }}</h1>
                        <div>
                            <span class="complement">{{ product.capacityFR }}</span>
                        </div>
                        <ul class="features">
                            <li><strong>Description: </strong>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta eius ipsa maxime minus officia quo sequi sit temporibus? Culpa debitis doloremque ea fugit impedit incidunt ipsam, non provident sapiente?</span>
                            </li>
                            {% if  itemPrice != null %}
                            <li><strong>{{'Price' | trans}}: </strong>
                                <span>{{ itemPrice.price }} €</span>
                            </li>
                            <li><strong>{{'Quantity.counts' | trans}}: </strong>
                                <span>{{ quantity.quantity|default(1)}} </span>
                            </li>
                            <li><strong>{{'quantity' | trans}}: </strong>
                                <input type="number" id="quantity" name="quantity" value="1" min="1">
                            </li>
                        </ul>
                        <div class="button__wrapper" style="flex-wrap: wrap">
                            <a href="{{ path('app_add_to_cart_id', { 'item': product.id ,  'qty': "qty" }) }} " id="addToCart" class="button button--primary-fill button--small modal--show add-to-cart">
                                {{'add.to.cart' | trans}}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
